/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

/* Webflow global styles are imported in the 'webflow' layer */
@import "../devlink/global.css" layer(webflow);
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

a {
  @apply no-underline block;
}

.button-primary {
  @apply text-center py-2.5 px-4.5 text-base leading-normal text-black bg-white rounded-lg max-w-max flex items-center justify-center transition-all duration-300 ease-in-out hover:bg-[#b1b1b1];
}
